<%- include('partials/header') -%>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Add a note</h1>
    <p class="secret-text">Don'let your thought fade away. Note them</p>

    <form action="/submit" method="POST">
      <div class="form-group">
        <input type="text" class="form-control text-center" name="title" placeholder="Title">
      </div>
      <div class="form-group">
        <textarea type="text" class="form-control text-center" name="content" placeholder="What's in your mind?"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

  </div>
</div>
<%- include('partials/footer') -%>
